.textsvg {
  --_66qdrz0: 24px;
  --_66qdrz1: 4px;
  --_66qdrz2: 8px;
  --_66qdrz3: 12px;
  --_66qdrz4: 20px;
  --_66qdrz5: 32px;
  --_66qdrz6: 48px;
  --_66qdrz7: 96px;
  --_66qdrz8: 120px;
  --_66qdrz9: 44px;
  --_66qdrza: 4px;
  --_66qdrzb: 2px;
  --_66qdrzc: 4px;
  --_66qdrzd: 6px;
  --_66qdrze: 10px;
  --_66qdrzf: #e60278;
  --_66qdrzg: #f8b1dc;
  --_66qdrzh: #fdc221;
  --_66qdrzi: #fee384;
  --_66qdrzj: #b91e1e;
  --_66qdrzk: #fb999a;
  --_66qdrzl: #838fa5;
  --_66qdrzm: rgba(159, 176, 245, 0.7);
  --_66qdrzn: #4964e9;
  --_66qdrzo: #9fb0f5;
  --_66qdrzp: #1d559d;
  --_66qdrzq: #98c9f1;
  --_66qdrzr: #2e3849;
  --_66qdrzt: #d2d7df;
  --_66qdrzs: #fff;
  --_66qdrzu: #12784f;
  --_66qdrzv: #8bdec5;
  --_66qdrzw: #512eaa;
  --_66qdrzx: #c6acf5;
  --_66qdrzy: 1px;
  --_66qdrzz: 2px;
  --_66qdrz10: 3px;
  --_66qdrz11: 400px;
  --_66qdrz12: 660px;
  --_66qdrz13: 940px;
  --_66qdrz14: 1280px;
  --_66qdrz15: #e60278;
  --_66qdrz16: #f8b1dc;
  --_66qdrz17: #723d02;
  --_66qdrz18: #fee384;
  --_66qdrz19: #b91e1e;
  --_66qdrz1a: #fb999a;
  --_66qdrz1b: #4964e9;
  --_66qdrz1c: #9fb0f5;
  --_66qdrz1d: #1d559d;
  --_66qdrz1e: #98c9f1;
  --_66qdrz1f: #4964e9;
  --_66qdrz1h: #9fb0f5;
  --_66qdrz1g: #4964e9;
  --_66qdrz1i: #512eaa;
  --_66qdrz1j: #c6acf5;
  --_66qdrz1k: #2e3849;
  --_66qdrz1l: #fff;
  --_66qdrz1m: #12784f;
  --_66qdrz1n: #8bdec5;
  --_66qdrz1o: #512eaa;
  --_66qdrz1p: #c6acf5;
  --_66qdrz1q: #f57c00;
  --_66qdrz1r: #5a6881;
  --_66qdrz1s: hsla(0, 0%, 100%, 0.65);
  --_66qdrz1t: #f7f8fb;
  --_66qdrz1u: #0e131b;
  --_66qdrz1v: #0d3880;
  --_66qdrz1w: #e60278;
  --_66qdrz1x: #cd026b;
  --_66qdrz1y: #fd0585;
  --_66qdrz1z: #feeffa;
  --_66qdrz20: #fdd7f3;
  --_66qdrz21: #fde3f6;
  --_66qdrz22: #fdc221;
  --_66qdrz23: #fef8de;
  --_66qdrz24: #b91e1e;
  --_66qdrz25: #a31a1a;
  --_66qdrz26: #db1616;
  --_66qdrz27: #ffe3e2;
  --_66qdrz28: #fef3f3;
  --_66qdrz29: #fcdbdb;
  --_66qdrz2a: #fde7e7;
  --_66qdrz2b: #4964e9;
  --_66qdrz2c: #3251e6;
  --_66qdrz2d: #5975ff;
  --_66qdrz2e: #f4f6fe;
  --_66qdrz2f: #dde3fc;
  --_66qdrz2g: #e8ecfd;
  --_66qdrz2h: #1d559d;
  --_66qdrz2i: #e3f2fb;
  --_66qdrz2j: #2e3849;
  --_66qdrz2k: #242c39;
  --_66qdrz2l: #384459;
  --_66qdrz2m: #eaecf1;
  --_66qdrz2n: #f7f8fb;
  --_66qdrz2o: #e6e9f3;
  --_66qdrz2p: #eff1f7;
  --_66qdrz2q: #12784f;
  --_66qdrz2r: #e2f7f1;
  --_66qdrz2s: #512eaa;
  --_66qdrz2t: #f1e8fd;
  --_66qdrz2u: #fff;
  --_66qdrz2v: #1c2330;
  --_66qdrz2w: Roboto, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  --_66qdrz2x: 1456;
  --_66qdrz2y: 1900;
  --_66qdrz2z: -500;
  --_66qdrz30: 0;
  --_66qdrz31: 2048;
  --_66qdrz32: 12px;
  --_66qdrz33: 20px;
  --_66qdrz34: 8.5313px;
  --_66qdrz35: -0.4642em;
  --_66qdrz36: -0.4915em;
  --_66qdrz37: 12px;
  --_66qdrz38: 20px;
  --_66qdrz39: 8.5313px;
  --_66qdrz3a: -0.4642em;
  --_66qdrz3b: -0.4915em;
  --_66qdrz3c: 14px;
  --_66qdrz3d: 20px;
  --_66qdrz3e: 9.9531px;
  --_66qdrz3f: -0.3451em;
  --_66qdrz3g: -0.3725em;
  --_66qdrz3h: 14px;
  --_66qdrz3i: 20px;
  --_66qdrz3j: 9.9531px;
  --_66qdrz3k: -0.3451em;
  --_66qdrz3l: -0.3725em;
  --_66qdrz3m: 16px;
  --_66qdrz3n: 24px;
  --_66qdrz3o: 11.375px;
  --_66qdrz3p: -0.3809em;
  --_66qdrz3q: -0.4082em;
  --_66qdrz3r: 16px;
  --_66qdrz3s: 24px;
  --_66qdrz3t: 11.375px;
  --_66qdrz3u: -0.3809em;
  --_66qdrz3v: -0.4082em;
  --_66qdrz3w: 18px;
  --_66qdrz3x: 28px;
  --_66qdrz3y: 12.7969px;
  --_66qdrz3z: -0.4086em;
  --_66qdrz40: -0.436em;
  --_66qdrz41: 18px;
  --_66qdrz42: 28px;
  --_66qdrz43: 12.7969px;
  --_66qdrz44: -0.4086em;
  --_66qdrz45: -0.436em;
  --_66qdrz46: 400;
  --_66qdrz47: 600;
  --_66qdrz48: 700;
  --_66qdrz49: 28px;
  --_66qdrz4a: 36px;
  --_66qdrz4b: 19.9063px;
  --_66qdrz4c: -0.2737em;
  --_66qdrz4d: -0.3011em;
  --_66qdrz4e: 42px;
  --_66qdrz4f: 44px;
  --_66qdrz4g: 29.8594px;
  --_66qdrz4h: -0.1547em;
  --_66qdrz4i: -0.182em;
  --_66qdrz4j: 21px;
  --_66qdrz4k: 32px;
  --_66qdrz4l: 14.9297px;
  --_66qdrz4m: -0.3928em;
  --_66qdrz4n: -0.4201em;
  --_66qdrz4o: 28px;
  --_66qdrz4p: 36px;
  --_66qdrz4q: 19.9063px;
  --_66qdrz4r: -0.2737em;
  --_66qdrz4s: -0.3011em;
  --_66qdrz4t: 21px;
  --_66qdrz4u: 28px;
  --_66qdrz4v: 14.9297px;
  --_66qdrz4w: -0.2975em;
  --_66qdrz4x: -0.3249em;
  --_66qdrz4y: 21px;
  --_66qdrz4z: 28px;
  --_66qdrz50: 14.9297px;
  --_66qdrz51: -0.2975em;
  --_66qdrz52: -0.3249em;
  --_66qdrz53: 18px;
  --_66qdrz54: 28px;
  --_66qdrz55: 12.7969px;
  --_66qdrz56: -0.4086em;
  --_66qdrz57: -0.436em;
  --_66qdrz58: 18px;
  --_66qdrz59: 28px;
  --_66qdrz5a: 12.7969px;
  --_66qdrz5b: -0.4086em;
  --_66qdrz5c: -0.436em;
  --_66qdrz5d: 400;
  --_66qdrz5e: 600;
  --_66qdrz5f: none;
  --_66qdrz5g: 24px;
  --_66qdrz5h: 20px;
  --_66qdrz5i: transform 0.125s ease, opacity 0.125s ease;
  --_66qdrz5j: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
  --_66qdrz5k: scale(0.95);
  --_66qdrz5l: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 2px 2px -2px rgba(28, 35, 48, 0.1),
    0 4px 4px -4px rgba(28, 35, 48, 0.2);
  --_66qdrz5m: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 8px 8px -4px rgba(28, 35, 48, 0.1),
    0 12px 12px -8px rgba(28, 35, 48, 0.2);
  --_66qdrz5n: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 12px 12px -4px rgba(28, 35, 48, 0.1),
    0 20px 20px -12px rgba(28, 35, 48, 0.2);
  --_1l25nauy: var(--_66qdrz19);
  --_1l25nauz: var(--_66qdrz17);
  --_1l25nau10: var(--_66qdrz1d);
  --_1l25nau11: var(--_66qdrz1o);
  --_1l25nau12: var(--_66qdrz1m);
  --_1l25nau13: var(--_66qdrz15);
  --_1l25nau14: var(--_66qdrz1b);
  --_1l25nau15: var(--_66qdrz1k);
  --_1l25nau16: var(--_66qdrz1r);
  --_1l25nau17: var(--_66qdrz1f);
  text-align: left;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
  height: 80px;
  width: 80px;
}

.dashboardsvg {
  --_66qdrz0: 24px;
  --_66qdrz1: 4px;
  --_66qdrz2: 8px;
  --_66qdrz3: 12px;
  --_66qdrz4: 20px;
  --_66qdrz5: 32px;
  --_66qdrz6: 48px;
  --_66qdrz7: 96px;
  --_66qdrz8: 120px;
  --_66qdrz9: 44px;
  --_66qdrza: 4px;
  --_66qdrzb: 2px;
  --_66qdrzc: 4px;
  --_66qdrzd: 6px;
  --_66qdrze: 10px;
  --_66qdrzf: #e60278;
  --_66qdrzg: #f8b1dc;
  --_66qdrzh: #fdc221;
  --_66qdrzi: #fee384;
  --_66qdrzj: #b91e1e;
  --_66qdrzk: #fb999a;
  --_66qdrzl: #838fa5;
  --_66qdrzm: rgba(159, 176, 245, 0.7);
  --_66qdrzn: #4964e9;
  --_66qdrzo: #9fb0f5;
  --_66qdrzp: #1d559d;
  --_66qdrzq: #98c9f1;
  --_66qdrzr: #2e3849;
  --_66qdrzt: #d2d7df;
  --_66qdrzs: #fff;
  --_66qdrzu: #12784f;
  --_66qdrzv: #8bdec5;
  --_66qdrzw: #512eaa;
  --_66qdrzx: #c6acf5;
  --_66qdrzy: 1px;
  --_66qdrzz: 2px;
  --_66qdrz10: 3px;
  --_66qdrz11: 400px;
  --_66qdrz12: 660px;
  --_66qdrz13: 940px;
  --_66qdrz14: 1280px;
  --_66qdrz15: #e60278;
  --_66qdrz16: #f8b1dc;
  --_66qdrz17: #723d02;
  --_66qdrz18: #fee384;
  --_66qdrz19: #b91e1e;
  --_66qdrz1a: #fb999a;
  --_66qdrz1b: #4964e9;
  --_66qdrz1c: #9fb0f5;
  --_66qdrz1d: #1d559d;
  --_66qdrz1e: #98c9f1;
  --_66qdrz1f: #4964e9;
  --_66qdrz1h: #9fb0f5;
  --_66qdrz1g: #4964e9;
  --_66qdrz1i: #512eaa;
  --_66qdrz1j: #c6acf5;
  --_66qdrz1k: #2e3849;
  --_66qdrz1l: #fff;
  --_66qdrz1m: #12784f;
  --_66qdrz1n: #8bdec5;
  --_66qdrz1o: #512eaa;
  --_66qdrz1p: #c6acf5;
  --_66qdrz1q: #f57c00;
  --_66qdrz1r: #5a6881;
  --_66qdrz1s: hsla(0, 0%, 100%, 0.65);
  --_66qdrz1t: #f7f8fb;
  --_66qdrz1u: #0e131b;
  --_66qdrz1v: #0d3880;
  --_66qdrz1w: #e60278;
  --_66qdrz1x: #cd026b;
  --_66qdrz1y: #fd0585;
  --_66qdrz1z: #feeffa;
  --_66qdrz20: #fdd7f3;
  --_66qdrz21: #fde3f6;
  --_66qdrz22: #fdc221;
  --_66qdrz23: #fef8de;
  --_66qdrz24: #b91e1e;
  --_66qdrz25: #a31a1a;
  --_66qdrz26: #db1616;
  --_66qdrz27: #ffe3e2;
  --_66qdrz28: #fef3f3;
  --_66qdrz29: #fcdbdb;
  --_66qdrz2a: #fde7e7;
  --_66qdrz2b: #4964e9;
  --_66qdrz2c: #3251e6;
  --_66qdrz2d: #5975ff;
  --_66qdrz2e: #f4f6fe;
  --_66qdrz2f: #dde3fc;
  --_66qdrz2g: #e8ecfd;
  --_66qdrz2h: #1d559d;
  --_66qdrz2i: #e3f2fb;
  --_66qdrz2j: #2e3849;
  --_66qdrz2k: #242c39;
  --_66qdrz2l: #384459;
  --_66qdrz2m: #eaecf1;
  --_66qdrz2n: #f7f8fb;
  --_66qdrz2o: #e6e9f3;
  --_66qdrz2p: #eff1f7;
  --_66qdrz2q: #12784f;
  --_66qdrz2r: #e2f7f1;
  --_66qdrz2s: #512eaa;
  --_66qdrz2t: #f1e8fd;
  --_66qdrz2u: #fff;
  --_66qdrz2v: #1c2330;
  --_66qdrz2w: Roboto, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  --_66qdrz2x: 1456;
  --_66qdrz2y: 1900;
  --_66qdrz2z: -500;
  --_66qdrz30: 0;
  --_66qdrz31: 2048;
  --_66qdrz32: 12px;
  --_66qdrz33: 20px;
  --_66qdrz34: 8.5313px;
  --_66qdrz35: -0.4642em;
  --_66qdrz36: -0.4915em;
  --_66qdrz37: 12px;
  --_66qdrz38: 20px;
  --_66qdrz39: 8.5313px;
  --_66qdrz3a: -0.4642em;
  --_66qdrz3b: -0.4915em;
  --_66qdrz3c: 14px;
  --_66qdrz3d: 20px;
  --_66qdrz3e: 9.9531px;
  --_66qdrz3f: -0.3451em;
  --_66qdrz3g: -0.3725em;
  --_66qdrz3h: 14px;
  --_66qdrz3i: 20px;
  --_66qdrz3j: 9.9531px;
  --_66qdrz3k: -0.3451em;
  --_66qdrz3l: -0.3725em;
  --_66qdrz3m: 16px;
  --_66qdrz3n: 24px;
  --_66qdrz3o: 11.375px;
  --_66qdrz3p: -0.3809em;
  --_66qdrz3q: -0.4082em;
  --_66qdrz3r: 16px;
  --_66qdrz3s: 24px;
  --_66qdrz3t: 11.375px;
  --_66qdrz3u: -0.3809em;
  --_66qdrz3v: -0.4082em;
  --_66qdrz3w: 18px;
  --_66qdrz3x: 28px;
  --_66qdrz3y: 12.7969px;
  --_66qdrz3z: -0.4086em;
  --_66qdrz40: -0.436em;
  --_66qdrz41: 18px;
  --_66qdrz42: 28px;
  --_66qdrz43: 12.7969px;
  --_66qdrz44: -0.4086em;
  --_66qdrz45: -0.436em;
  --_66qdrz46: 400;
  --_66qdrz47: 600;
  --_66qdrz48: 700;
  --_66qdrz49: 28px;
  --_66qdrz4a: 36px;
  --_66qdrz4b: 19.9063px;
  --_66qdrz4c: -0.2737em;
  --_66qdrz4d: -0.3011em;
  --_66qdrz4e: 42px;
  --_66qdrz4f: 44px;
  --_66qdrz4g: 29.8594px;
  --_66qdrz4h: -0.1547em;
  --_66qdrz4i: -0.182em;
  --_66qdrz4j: 21px;
  --_66qdrz4k: 32px;
  --_66qdrz4l: 14.9297px;
  --_66qdrz4m: -0.3928em;
  --_66qdrz4n: -0.4201em;
  --_66qdrz4o: 28px;
  --_66qdrz4p: 36px;
  --_66qdrz4q: 19.9063px;
  --_66qdrz4r: -0.2737em;
  --_66qdrz4s: -0.3011em;
  --_66qdrz4t: 21px;
  --_66qdrz4u: 28px;
  --_66qdrz4v: 14.9297px;
  --_66qdrz4w: -0.2975em;
  --_66qdrz4x: -0.3249em;
  --_66qdrz4y: 21px;
  --_66qdrz4z: 28px;
  --_66qdrz50: 14.9297px;
  --_66qdrz51: -0.2975em;
  --_66qdrz52: -0.3249em;
  --_66qdrz53: 18px;
  --_66qdrz54: 28px;
  --_66qdrz55: 12.7969px;
  --_66qdrz56: -0.4086em;
  --_66qdrz57: -0.436em;
  --_66qdrz58: 18px;
  --_66qdrz59: 28px;
  --_66qdrz5a: 12.7969px;
  --_66qdrz5b: -0.4086em;
  --_66qdrz5c: -0.436em;
  --_66qdrz5d: 400;
  --_66qdrz5e: 600;
  --_66qdrz5f: none;
  --_66qdrz5g: 24px;
  --_66qdrz5h: 20px;
  --_66qdrz5i: transform 0.125s ease, opacity 0.125s ease;
  --_66qdrz5j: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
  --_66qdrz5k: scale(0.95);
  --_66qdrz5l: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 2px 2px -2px rgba(28, 35, 48, 0.1),
    0 4px 4px -4px rgba(28, 35, 48, 0.2);
  --_66qdrz5m: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 8px 8px -4px rgba(28, 35, 48, 0.1),
    0 12px 12px -8px rgba(28, 35, 48, 0.2);
  --_66qdrz5n: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 12px 12px -4px rgba(28, 35, 48, 0.1),
    0 20px 20px -12px rgba(28, 35, 48, 0.2);
  --_1l25nauy: var(--_66qdrz19);
  --_1l25nauz: var(--_66qdrz17);
  --_1l25nau10: var(--_66qdrz1d);
  --_1l25nau11: var(--_66qdrz1o);
  --_1l25nau12: var(--_66qdrz1m);
  --_1l25nau13: var(--_66qdrz15);
  --_1l25nau14: var(--_66qdrz1b);
  --_1l25nau15: var(--_66qdrz1k);
  --_1l25nau16: var(--_66qdrz1r);
  --_1l25nau17: var(--_66qdrz1f);
  text-align: center;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
  height: 120px;
  width: 120px;
}

.personsvg {
  --_66qdrz0: 24px;
  --_66qdrz1: 4px;
  --_66qdrz2: 8px;
  --_66qdrz3: 12px;
  --_66qdrz4: 20px;
  --_66qdrz5: 32px;
  --_66qdrz6: 48px;
  --_66qdrz7: 96px;
  --_66qdrz8: 120px;
  --_66qdrz9: 44px;
  --_66qdrza: 4px;
  --_66qdrzb: 2px;
  --_66qdrzc: 4px;
  --_66qdrzd: 6px;
  --_66qdrze: 10px;
  --_66qdrzf: #e60278;
  --_66qdrzg: #f8b1dc;
  --_66qdrzh: #fdc221;
  --_66qdrzi: #fee384;
  --_66qdrzj: #b91e1e;
  --_66qdrzk: #fb999a;
  --_66qdrzl: #838fa5;
  --_66qdrzm: rgba(159, 176, 245, 0.7);
  --_66qdrzn: #4964e9;
  --_66qdrzo: #9fb0f5;
  --_66qdrzp: #1d559d;
  --_66qdrzq: #98c9f1;
  --_66qdrzr: #2e3849;
  --_66qdrzt: #d2d7df;
  --_66qdrzs: #fff;
  --_66qdrzu: #12784f;
  --_66qdrzv: #8bdec5;
  --_66qdrzw: #512eaa;
  --_66qdrzx: #c6acf5;
  --_66qdrzy: 1px;
  --_66qdrzz: 2px;
  --_66qdrz10: 3px;
  --_66qdrz11: 400px;
  --_66qdrz12: 660px;
  --_66qdrz13: 940px;
  --_66qdrz14: 1280px;
  --_66qdrz15: #e60278;
  --_66qdrz16: #f8b1dc;
  --_66qdrz17: #723d02;
  --_66qdrz18: #fee384;
  --_66qdrz19: #b91e1e;
  --_66qdrz1a: #fb999a;
  --_66qdrz1b: #4964e9;
  --_66qdrz1c: #9fb0f5;
  --_66qdrz1d: #1d559d;
  --_66qdrz1e: #98c9f1;
  --_66qdrz1f: #4964e9;
  --_66qdrz1h: #9fb0f5;
  --_66qdrz1g: #4964e9;
  --_66qdrz1i: #512eaa;
  --_66qdrz1j: #c6acf5;
  --_66qdrz1k: #2e3849;
  --_66qdrz1l: #fff;
  --_66qdrz1m: #12784f;
  --_66qdrz1n: #8bdec5;
  --_66qdrz1o: #512eaa;
  --_66qdrz1p: #c6acf5;
  --_66qdrz1q: #f57c00;
  --_66qdrz1r: #5a6881;
  --_66qdrz1s: hsla(0, 0%, 100%, 0.65);
  --_66qdrz1t: #f7f8fb;
  --_66qdrz1u: #0e131b;
  --_66qdrz1v: #0d3880;
  --_66qdrz1w: #e60278;
  --_66qdrz1x: #cd026b;
  --_66qdrz1y: #fd0585;
  --_66qdrz1z: #feeffa;
  --_66qdrz20: #fdd7f3;
  --_66qdrz21: #fde3f6;
  --_66qdrz22: #fdc221;
  --_66qdrz23: #fef8de;
  --_66qdrz24: #b91e1e;
  --_66qdrz25: #a31a1a;
  --_66qdrz26: #db1616;
  --_66qdrz27: #ffe3e2;
  --_66qdrz28: #fef3f3;
  --_66qdrz29: #fcdbdb;
  --_66qdrz2a: #fde7e7;
  --_66qdrz2b: #4964e9;
  --_66qdrz2c: #3251e6;
  --_66qdrz2d: #5975ff;
  --_66qdrz2e: #f4f6fe;
  --_66qdrz2f: #dde3fc;
  --_66qdrz2g: #e8ecfd;
  --_66qdrz2h: #1d559d;
  --_66qdrz2i: #e3f2fb;
  --_66qdrz2j: #2e3849;
  --_66qdrz2k: #242c39;
  --_66qdrz2l: #384459;
  --_66qdrz2m: #eaecf1;
  --_66qdrz2n: #f7f8fb;
  --_66qdrz2o: #e6e9f3;
  --_66qdrz2p: #eff1f7;
  --_66qdrz2q: #12784f;
  --_66qdrz2r: #e2f7f1;
  --_66qdrz2s: #512eaa;
  --_66qdrz2t: #f1e8fd;
  --_66qdrz2u: #fff;
  --_66qdrz2v: #1c2330;
  --_66qdrz2w: Roboto, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  --_66qdrz2x: 1456;
  --_66qdrz2y: 1900;
  --_66qdrz2z: -500;
  --_66qdrz30: 0;
  --_66qdrz31: 2048;
  --_66qdrz32: 12px;
  --_66qdrz33: 20px;
  --_66qdrz34: 8.5313px;
  --_66qdrz35: -0.4642em;
  --_66qdrz36: -0.4915em;
  --_66qdrz37: 12px;
  --_66qdrz38: 20px;
  --_66qdrz39: 8.5313px;
  --_66qdrz3a: -0.4642em;
  --_66qdrz3b: -0.4915em;
  --_66qdrz3c: 14px;
  --_66qdrz3d: 20px;
  --_66qdrz3e: 9.9531px;
  --_66qdrz3f: -0.3451em;
  --_66qdrz3g: -0.3725em;
  --_66qdrz3h: 14px;
  --_66qdrz3i: 20px;
  --_66qdrz3j: 9.9531px;
  --_66qdrz3k: -0.3451em;
  --_66qdrz3l: -0.3725em;
  --_66qdrz3m: 16px;
  --_66qdrz3n: 24px;
  --_66qdrz3o: 11.375px;
  --_66qdrz3p: -0.3809em;
  --_66qdrz3q: -0.4082em;
  --_66qdrz3r: 16px;
  --_66qdrz3s: 24px;
  --_66qdrz3t: 11.375px;
  --_66qdrz3u: -0.3809em;
  --_66qdrz3v: -0.4082em;
  --_66qdrz3w: 18px;
  --_66qdrz3x: 28px;
  --_66qdrz3y: 12.7969px;
  --_66qdrz3z: -0.4086em;
  --_66qdrz40: -0.436em;
  --_66qdrz41: 18px;
  --_66qdrz42: 28px;
  --_66qdrz43: 12.7969px;
  --_66qdrz44: -0.4086em;
  --_66qdrz45: -0.436em;
  --_66qdrz46: 400;
  --_66qdrz47: 600;
  --_66qdrz48: 700;
  --_66qdrz49: 28px;
  --_66qdrz4a: 36px;
  --_66qdrz4b: 19.9063px;
  --_66qdrz4c: -0.2737em;
  --_66qdrz4d: -0.3011em;
  --_66qdrz4e: 42px;
  --_66qdrz4f: 44px;
  --_66qdrz4g: 29.8594px;
  --_66qdrz4h: -0.1547em;
  --_66qdrz4i: -0.182em;
  --_66qdrz4j: 21px;
  --_66qdrz4k: 32px;
  --_66qdrz4l: 14.9297px;
  --_66qdrz4m: -0.3928em;
  --_66qdrz4n: -0.4201em;
  --_66qdrz4o: 28px;
  --_66qdrz4p: 36px;
  --_66qdrz4q: 19.9063px;
  --_66qdrz4r: -0.2737em;
  --_66qdrz4s: -0.3011em;
  --_66qdrz4t: 21px;
  --_66qdrz4u: 28px;
  --_66qdrz4v: 14.9297px;
  --_66qdrz4w: -0.2975em;
  --_66qdrz4x: -0.3249em;
  --_66qdrz4y: 21px;
  --_66qdrz4z: 28px;
  --_66qdrz50: 14.9297px;
  --_66qdrz51: -0.2975em;
  --_66qdrz52: -0.3249em;
  --_66qdrz53: 18px;
  --_66qdrz54: 28px;
  --_66qdrz55: 12.7969px;
  --_66qdrz56: -0.4086em;
  --_66qdrz57: -0.436em;
  --_66qdrz58: 18px;
  --_66qdrz59: 28px;
  --_66qdrz5a: 12.7969px;
  --_66qdrz5b: -0.4086em;
  --_66qdrz5c: -0.436em;
  --_66qdrz5d: 400;
  --_66qdrz5e: 600;
  --_66qdrz5f: none;
  --_66qdrz5g: 24px;
  --_66qdrz5h: 20px;
  --_66qdrz5i: transform 0.125s ease, opacity 0.125s ease;
  --_66qdrz5j: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
  --_66qdrz5k: scale(0.95);
  --_66qdrz5l: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 2px 2px -2px rgba(28, 35, 48, 0.1),
    0 4px 4px -4px rgba(28, 35, 48, 0.2);
  --_66qdrz5m: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 8px 8px -4px rgba(28, 35, 48, 0.1),
    0 12px 12px -8px rgba(28, 35, 48, 0.2);
  --_66qdrz5n: 0 2px 4px 0px rgba(28, 35, 48, 0.1), 0 12px 12px -4px rgba(28, 35, 48, 0.1),
    0 20px 20px -12px rgba(28, 35, 48, 0.2);
  --_1l25nauy: var(--_66qdrz19);
  --_1l25nauz: var(--_66qdrz17);
  --_1l25nau10: var(--_66qdrz1d);
  --_1l25nau11: var(--_66qdrz1o);
  --_1l25nau12: var(--_66qdrz1m);
  --_1l25nau13: var(--_66qdrz15);
  --_1l25nau14: var(--_66qdrz1b);
  --_1l25nau15: var(--_66qdrz1k);
  --_1l25nau16: var(--_66qdrz1r);
  --_1l25nau17: var(--_66qdrz1f);
  text-align: center;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
  height: 120px;
  width: 120px;
}
