<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, Helvetica, sans-serif;background-color: #fff; } * { box-sizing: border-box; }
    </style>
    <title>
      Accepted Email
    </title>
  </head>
  <body>
    <div style='max-width: 700px; margin: 0 auto; padding: 1rem; background-color: #e5e5e5; color: #6E56CF;'>
      <h1 style='text-align: center;'>
        Your application to job {{jobTitle}} from {{companyName}} has been accepted.
      </h1>
      <div style='text-align: center;'>
        <p>
          Our company will send an interview scheduling email, stay tuned for more
        </p>
      </div>
    </div>
  </body>
</html>